.btn {
box-sizing: border-box;
background-color: transparent;

font-weight: 500;
font-size: 18px;
line-height: 2rem;
color: var(--main-font);


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 32px;
gap: 10px;

position: relative;
width: 91px;
height: 2rem;

border: 1px solid rgba(46, 46, 46, 0.85);
border-radius: 20px;
}
