.btn {
box-sizing: border-box;
background-color: transparent;

font-weight: 500;
font-size: 18px;
line-height: 2rem;
color: var(--main-font);


display: flex;
cursor: pointer;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 32px;
gap: 10px;

position: relative;
width: 91px;
height: 2rem;

border: 1px solid rgba(46, 46, 46, 0.85);
border-radius: 20px;
}


.btn:hover {
  background-color: rgb(204, 200, 200);
}



.btnSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  color: #fff;
  background-color: #7f28e2;
  width: 100%;
  font-weight: 700;
  padding: 16px 40px;
  font-size: 1rem;
  box-shadow: none;
  margin-top: 24px;
  margin-bottom: 16px;
}


.btnSecondary:hover {
  background-color: #6405d1;
}