/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #429EBD;
  filter: drop-shadow(0px 9px 50px #429EBD);
  max-width: 280px;
  height: 500px;
  border-radius: 10px;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
line-height: 28px;
padding-top: 19px;
margin-bottom: 0;
}

.titleDiv{
  max-height: 40px;
}


.imgDiv {
  margin-top: 23px;
  height: 180px;
  width: 280px;
}

.img {
  height: 180px;
  width: 280px;
  object-fit: cover;
}

.cardDescr {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
}

.pdLeftRight {
  position: absolute;
  top: 275px;
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  margin-bottom: 0;
}

.txtEnd{
  text-align: end;
}

.posRel {
  position: relative;
} */


.card {
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  color: aliceblue;
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0;
  text-align: center;
}

.card p {
  font-size: 16px;
  margin: 0 16px 16px 16px;
  text-align: center;
}

.card:hover {
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); */
  transform: scale(1.05);
  /* transition: 0.5s; */

}
